<ion-view title="О компании">
  <ion-content class="has-header padding">
    <div style="text-align: center;">
    	<img src='img/logo.png' />
    </div>
    <p>
    	Группа компаний "Пумпа" была образована в 1989 году. В 1990 году компанией впервые в России было организовано серийное производство ортодонтической продукции: металлических и керамических брекетов, нитиноловых и стальных дуг, нитиноловых пружин, ортодонтических кнопок, стопоров, эластичных колец, а также бандажных колец с различными видами замков. В 1995 году фирмой было налажено производство ортодонтических инструментов на базе Можайского инструментального завода в Московской области.
    </p>
    <ul>
    	<li>Телефон — <a href='tel:+74959559229' type"tel"> +7 (495) 955-9229</a></li>
    	<li>Email — <a href='mailto:fortekst@fortekst.ru'>fortekst@fortekst.ru</a></li>
    </ul>
      <br /><br /><br />
  </ion-content>
</ion-view>
