<ion-view title="{{sale.name}}">
  <ion-content class="has-header padding">
      <div class="row responsive-sm">
          <div class="col" ng-bind-html="sale.text|unsafe">

          </div>
      </div>

      <div class="">
    <hr />
    <div class="list" ng-hide="form_sent">
      <h4>Отправить заявку на "{{sale.name}}"</h4>
    <label class="item item-input">
      <input type="text" placeholder="Ваше имя" ng-model="form.name">
    </label>
    <label class="item item-input">
      <input type="text" placeholder="Ваш Email" ng-model="form.email">
    </label>
    <label class="item item-input">
      <input type="text" placeholder="Номер телефона" ng-model="form.phone">
    </label>

      <button class="button button-energized" ng-click="send_form()" style="margin-top: 20px;">
            Отправить заявку
      </button>
  </div>

    <div ng-show="form_sent">
        <h4>Спасибо! Ваша заявка принята.</h4>
    </div>
    <br /><br /><br />

         </div>

  </ion-content>
</ion-view>
