<ion-view title="О компании">
  <ion-content class="has-header padding">
    <div style="text-align: center;">
      <img src='img/logo.png' />
    </div>




    <p>Группа компаний основана 7 декабря 1990 года в г. Москве. Именно в этот день была зарегистрирована первая компания под названием ПУМПА. Эта дата - день рождения ГК ПУМПА.</p>

    <p>Сегодня в состав Группы компаний ПУМПА входит 7 фирм различной формы собственности и сфер деятельности.</p>

    <p>Деятельность каждой компании осуществляется на основании устава, государственных лицензий, регистрационных удостоверений и сертификатов, в полном соответствии с действующим законодательством.</p>

    <p>Сферы деятельности группы компаний ПУМПА</p>

    <ol>
      <li>1. Поставка расходных материалов, инструментов, средств гигиены полости рта и специализированного оборудования для врачей - ортодонтов и зубных техников.</li>
      <li>2. Виртуальное планирование и визуализация ортодонтического лечения по технологии VSD-system с изготовлением индивидуальной аппаратуры.</li>
      <li>3. Изготовление съемных ортодонтических аппаратов любой сложности и любой конструкции (дуговые, капповые, пластиночные, блоковые, каркасные)</li>
      <li>4. Оказание медицинских, стоматологических услуг.</li>
      <li>5. Организация и проведение практических семинаров, учебных курсов и конференций для директоров клиник, врачей - ортодонтов и зубных техников.</li>
      </ul>

      <div style="text-align: center;">
        <br />
        <p style="font-weight: bold">МИССИЯ И ПРИНЦИПЫ.</p>
      </div>

      <p>За время работы мы приобрели репутацию надежного и добросовестного партнера. Мы делаем все для того, чтобы наши партнеры и клиенты не могли усомниться в этом.</p>

      <p>Клиент - это самое ценное, что у компании есть.</p>

      <p>Мы уважаем каждого клиента и стараемся, чтобы работа с нами оставляла только приятное впечатление. Для нас счастье сотрудничать с теми, кто верен нам все эти годы. Мы ценим постоянство и стараемся поддерживать с клиентами долгосрочные связи и добрые дружеские отношения. Количество постоянных клиентов и их рекомендации - лучший показатель качества нашей работы. Но друзей не бывает много, и мы всегда рады новым клиентам.</p>

      <p>Не останавливаться на достигнутом, идти вперед, развиваться, внедрять новые технологии - вот основной принцип нашей деятельности. Созидать красивые улыбки - наша миссия.</p>

      <div class="card">
        <div class="item item-text-wrap" onclick="showBlock('block_1')">
          "Ортосмайл" <i>г. Москва</i>
        </div>
      </div>

      <div id="block_1" style="display: none">

        <p>
          Импорт ортодонтической продукции, средств гигиены для полости рта и медицинского оборудования, оптовая торговля, организация обучающих семинаров, конференций.
        </p>

        <ul>
          <li><b>Адрес:</b> 107014, г.Москва, Попов проезд, д 1, корп. 1, офис 2</li>
          <li><b>Тел:</b>  <a href="">+7 (495)966-03-04</a>, факс: (495)956-07-48</li>
          <li><b>e-mail:</b>  <a href="mailto:orthosmile@orthosmile.ru" target="_system">orthosmile@orthosmile.ru</a>
          </li>
          <li><b>www:</b>  <a style="text-decoration: underline; color: blue" onclick="window.open('http://www.forestadent.ru', '_system')" target="_system">www.forestadent.ru</a>, <a style="text-decoration: underline; color: blue" onclick="window.open('http://www.pumpagroup.ru', '_system')" target="_system">www.pumpagroup.ru</a>
          </li>
        </ul>

      </div>

      <!-- Второй блок -->
      <div class="card">
        <div class="item item-text-wrap" onclick="showBlock('block_2')">
          "Фортекс-Т" <i>г. Москва</i>
        </div>
      </div>

      <div id="block_2" style="display: none">

        <p>
          Розничная торговля ортодонтической продукцией, средствами гигиены для полости рта и медицинским оборудованием.
        </p>

        <ul>
          <li><b>Адрес:</b> 115419, г.Москва, ул.Донская, д.32</li>
          <li><b>Тел:</b>  <a href="" type="tel">+7 (495)955-92-29</a>, факс: +7 (495)955-91-97</li>
          <li><b>e-mail:</b>  <a href="mailto:fortekst@fortekst.ru" target="_system">fortekst@fortekst.ru</a>
          </li>
          <li><b>www:</b>  <a style="text-decoration: underline; color: blue" onclick="window.open('http://www.pumpagroup.ru', '_system')" target="_system">www.pumpagroup.ru</a>
          </li>
        </ul>

      </div>

      <div class="card">
        <div class="item item-text-wrap" onclick="showBlock('block_3')">
          "Медицинский центр «ДЕМОС»" <i>г.Санкт-Петербург</i>
        </div>
      </div>

      <div id="block_3" style="display: none">

        <p>
          Оказание медицинских, стоматологических услуг со специализацией по ортодонтии. Клиническая база для обучающих курсов по ортодонтии и внедрения современных диагностических технологий и оборудования.
        </p>

        <ul>
          <li><b>Адрес:</b> Г.Санкт-Петербург, ул.Пражская, д.44</li>
          <li><b>Тел:</b>  <a href="" type="tel">+7 (812)701-81-00 </a>
          </li>
          <li><b>e-mail:</b>  <a href="mailto:demos@demosmed.ru" target="_system">demos@demosmed.ru</a>
          </li>
          <li><b>www:</b>  <a style="text-decoration: underline; color: blue" onclick="window.open('http://www.demosmed.ru', '_system')" target="_system">www.demosmed.ru</a>
          </li>
        </ul>
      </div>



      <div class="card">
        <div class="item item-text-wrap" onclick="showBlock('block_4')">
          "Веселая улыбка" <i>г.Санкт-Петербург</i>
        </div>
      </div>

      <div id="block_4" style="display: none">

        <p>
          Розничная торговля ортодонтической аппаратурой, средствами гигиены для полости рта и медицинским оборудованием.
        </p>

        <ul>
          <li><b>Адрес:</b> 191002, г.Санкт-Петербург, Владимирский пр-т, 23 литер А, офис 607</li>
          <li><b>Тел:</b>  <a href="" type="tel" target="_system">+7 (812) 325-62-54 </a>, факс: +7 (812) 325-62-54</li>
          <li><b>e-mail:</b>  <a href="mailto:smile@orthosmile.ru" target="_system">smile@orthosmile.ru</a>
          </li>
          <li><b>www:</b>  <a style="text-decoration: underline; color: blue" onclick="window.open('http://www.pumpagroup.ru', '_system')" target="_system">www.pumpagroup.ru</a>
          </li>
        </ul>
      </div>

      <div class="card">
        <div class="item item-text-wrap" onclick="showBlock('block_5')">
          "Ортобрейс" <i>г.Москва</i>
        </div>
      </div>

      <div id="block_5" style="display: none">

        <p>
          Оказание услуг в организации изготовления индивидуальных самолигируемых лингвальных брекетов и их продажа.
        </p>

        <ul>
          <li><b>Адрес:</b> 107014, г.Москва, Попов проезд, д 1, корп. 1, офис 2</li>
          <li><b>Тел:</b>  <a href="" type="tel">+7  (495)966-03-04 </a>, факс: (495)956-07-48</li>
          <li><b>e-mail:</b>  <a href="mailto:order@orthobrace.ru" target="_system">order@orthobrace.ru</a>
          </li>
          <li><b>www:</b>  <a style="text-decoration: underline; color: blue" onclick="window.open('http://www.pumpagroup.ru', '_system')" target="_system">www.pumpagroup.ru</a>
          </li>
        </ul>
      </div>

      <div class="card">
        <div class="item item-text-wrap" onclick="showBlock('block_7')">
          "Лаборатория «ОРТОДЕПО»" <i>г.Москва, г.Санкт-Петербург</i>
        </div>
      </div>

      <div id="block_7" style="display: none">

        <p>
          Оказание услуг по изготовлению съемных ортодонтических аппаратов, спортивных капп, капп для непрямого приклеивания, элайнеров, аппаратов от апноэ.
        </p>

        <div class="row responsive-sm responsive-md">
          <div class="col">
            <ul>
              <li><b>Адрес:</b> г.Москва, ул.Донская, д.32</li>
              <li><b>Тел:</b>  <a href="" type="tel">+7 (495)955-92-29 </a>, факс: +7 (495) 955-91-97</li>
              <li><b>e-mail:</b>  <a href="mailto:fortekst@fortekst.ru" target="_system">fortekst@fortekst.ru</a>
              </li>
              <li><b>www:</b>  <a style="text-decoration: underline; color: blue" onclick="window.open('http://www.ortodepo.ru', '_system')" target="_system">www.ortodepo.ru</a>
              </li>
            </ul>
          </div>
          <div class="col">
            <ul>
              <li><b>Адрес:</b> Г.Санкт-Петербург, ул.Пражская, д.44</li>
              <li><b>Тел:</b>  <a href="" type="tel">+7 (812)701-81-00 </a>, моб.+7 (968) 188-04-86</li>
              <li><b>e-mail:</b>  <a href="mailto:demos@demosmed.ru" target="_system">demos@demosmed.ru</a>
              </li>
              <li><b>www:</b>  <a style="text-decoration: underline; color: blue" onclick="window.open('http://www.ortodepo.ru', '_system')" target="_system">www.ortodepo.ru</a>
              </li>
            </ul>
          </div>
        </div>

      </div>

      <div class="card">
        <div class="item item-text-wrap" onclick="showBlock('block_8')">
          "Смус Оперэйтор" <i>г.Москва</i>
        </div>
      </div>

      <div id="block_8" style="display: none">
        <div class="row responsive-sm responsive-md">
          <div class="col">
            <p> Создание и распространение международного англо-русского, немецкого, французского, итальянского, испанского, китайского электронного словаря “Operator’s Dictionary” для врачей стоматологических специальностей и челюстно-лицевых хирургов.</p>
            <ul>
              <li><b>Адрес:</b> 107014, г.Москва, Попов проезд, д 1, корп. 1, офис 2</li>
              <li><b>Тел:</b>  <a href="" type="tel">+7 (903) 792-25-97 </a>
              </li>
              <li><b>e-mail:</b>  <a style="text-decoration: underline; color: blue" href="mailto:operatorsdictionary@gmail.com" target="_system">operatorsdictionary@gmail.com</a>
              </li>
              <li><b>www:</b>  <a style="text-decoration: underline; color: blue" onclick="window.open('http://www.operatorsdictionary.ru', '_system')" target="_system">www.operatorsdictionary.ru</a>
              </li>
            </ul>
          </div>
          <div class="col">
            <p>Оптовая торговля медицинской жевательной резинкой.</p>
            <ul>
              <li><b>Адрес:</b> 107014, г.Москва, Попов проезд, д 1, корп. 1, офис 2</li>
              <li><b>Тел:</b>  <a style="text-decoration: underline; color: blue" type="tel">+7 (495) 249-17-71 </a>
              </li>
              <li><b>e-mail:</b>  <a href="mailto:m.borzov@drgum.ru" target="_system">m.borzov@drgum.ru</a>
              </li>
              <li><b>www:</b>  <a style="text-decoration: underline; color: blue" onclick="window.open('http://www.drgum.ru', '_system')" target="_system">www.drgum.ru</a>
              </li>
            </ul>            
          </div>
        </div>                  
      </div>


      <!--<ul>
      <li>Телефон — <a href='tel:+74959559229' type"tel"> +7 (495) 955-9229</a></li>
      <li>Email — <a href='mailto:info@pumpagroup.ru'>info@pumpagroup.ru</a></li>
      <li>Сайт — <a href='http://fortekst.ru' onclick="window.open('http://fortekst.ru', '_system')" target="_system">pumpagroup.ru</a></li>
    </ul>-->
      <br />
      <br />
      <br />

  </ion-content>
</ion-view>