<ion-view title="О компании">
  <ion-content class="has-header padding">
    <div style="text-align: center;">
    	<img src='img/logo.png' />
    </div>
    <p>
    	Группа компаний "Пумпа" была образована в 1989 году. В 1990 году компанией впервые в России было организовано серийное производство ортодонтической продукции: металлических и керамических брекетов, нитиноловых и стальных дуг, нитиноловых пружин, ортодонтических кнопок, стопоров, эластичных колец, а также бандажных колец с различными видами замков. В 1995 году фирмой было налажено производство ортодонтических инструментов на базе Можайского инструментального завода в Московской области.
    </p>
    <ul>
    	<li>Телефон — <a href='tel:+74959559229' type"tel"> +7 (495) 955-9229</a></li>
    	<li>Email — <a href='mailto:fortekst@fortekst.ru'>fortekst@fortekst.ru</a></li>
    </ul>
      <br /><br /><br />
      <div>
        <p>Каталоги нашей компании:</p>
        <div class='row'>
          <div class='col col-50'><a href='http://fortekst.ru/files/pdf/catalogue_forestadent_3.pdf' target='_system'><img width='100%' src="img/forestadent_catalog_icon.png"></a></div>
          <div class='col col-50'><a href='http://fortekst.ru/files/pdf/kat_OT_2012_1.pdf' target="_blank"><img width='100%' src="img/ot_catalog_icon.png"></a></div>
        </div>
      </div>
  </ion-content>
</ion-view>
