<ion-view title="Мы в сети">
  <ion-content class="has-header padding">
    <div class="row">
      <div class="col col-33" style="margin: 0 auto;">
        <img src='img/youtube.png' width="50px" align="left" style="margin-right: 10px" />  
        <a onclick="window.open('http://www.youtube.com/channel/UCE7ev95HkDpRw1RiVdvQKCQ', '_system', location='yes')" target="_system" style="color: black; font; text-decoration: none; display: block; width: 200px;">Профессиональный канал в Youtube</a>
      </div>
    </div>
  </ion-content>
</ion-view>
