<ion-view title="Мероприятия">
  <ion-content class="has-header padding">

    <h3 style="text-align: center">{{event.name}}</h3>
      <div class="row responsive-sm">
        <div class="col" ng-bind-html="event.text|unsafe">
          </div>
      </div>

    <hr />
    <div class="list" ng-hide="form_sent">
    	<h4>Регистрация на "{{event.name}}"</h4>
	  <label class="item item-input">
	    <input type="text" placeholder="Ваше имя" ng-model="form.name">
	  </label>
	  <label class="item item-input">
	    <input type="text" placeholder="Ваш Email" ng-model="form.email">
	  </label>
	  <label class="item item-input">
	    <input type="text" placeholder="Номер телефона" ng-model="form.phone">
	  </label>

      <button class="button button-energized" ng-click="send_form()" style="margin-top: 20px;">
            Отправить заявку
      </button>
	</div>

    <div ng-show="form_sent">
        <h4>Спасибо! Ваша заявка принята.</h4>
    </div>
    <br /><br /><br />

  </ion-content>
</ion-view>