<ion-view title="Словарь">
  <ion-content class="has-header">
    <div style="padding: 0px 10px">
    	Operator’s Dictionary предназначен для тех специалистов в области стоматологии и челюстно-лицевой хирургии, кто хочет понимать и быть понятым в международной профессиональной среде, основным языком которой является английский. Статьи, лекции, обмен мнениями, семинары, симпозиумы, конгрессы – все это должно стать легче и приятнее. Присоединяйтесь!
    </div>
    <br />
     <p style="padding: 0px 10px">
    	В магазинах всех нижеперечисленных операционных систем Вы можете бесплатно скачать приложение, которое позволит Вам ознакомиться со всеми имеющимися на сегодняшний день словарями, оценить их содержание и полезность и, если Вам понравится, совершить покупку.
    </p>
    <div style="background-color: grey; text-align: center">
        <ul>
            <li><a href="https://itunes.apple.com/ru/app/operators-anglo-russkij-slovar/id852243830?mt=8"> <img src='img/btn-app-store.png' /></a></li>
            <li><a href="https://play.google.com/store/apps/details?id=com.operators.dictionaries&hl=ru"><img src='img/btn-google-play.png' /></a></li>
            <li><a href="http://www.windowsphone.com/ru-ru/store/app/operator-dictionary/a765173b-ea08-4057-b42d-239f0b5c2564"><img src='img/windows_store.png' /></a></li>
        </ul>
    </div>
  </ion-content>
</ion-view>
