<ion-view title="Наша продукция">
<ion-content class="has-header padding">

<div style="text-align: center; width: 601px; margin: 0 auto;">
  <table cellpadding="0" cellspacing="0">
    <tr>
      <td width="" align="center">
        <div id='tab_1' style='border: 1px solid grey; border-radius: 10px 0px 0px 10px; padding: 10px; background-color:white; color: black' onclick='this.style.background = "grey"; this.style.color = "white"; tab_2.style.background = "white"; tab_2.style.color = "black"; tab_3.style.background = "white"; tab_3.style.color = "black"; operator.style.display = "none"; catalog.style.display = "block"; brochure.style.display = "none"'>Каталоги компании</div>
      </td>
      <td width="" align="center">
        <div id='tab_3' style='width: 120px; border: 1px solid grey; padding: 10px; background: grey; color:white' onclick='this.style.background = "grey"; this.style.color = "white"; tab_1.style.background = "white"; tab_1.style.color = "black"; tab_2.style.background = "white"; tab_2.style.color = "black"; operator.style.display = "none"; catalog.style.display = "none"; brochure.style.display = "block"'>Брошюры</div>
      </td>
      <td width="" align="center">
        <div id='tab_2' style='border: 1px solid grey; border-radius: 0px 10px 10px 0px; padding: 10px; background-color:white; color: black' onclick='this.style.background = "grey"; this.style.color = "white"; tab_1.style.background = "white"; tab_1.style.color = "black"; operator.style.display = "block"; catalog.style.display = "none"; brochure.style.display = "none"; tab_3.style.background = "white"; tab_3.style.color = "black";'>Operator's Dictionary</div>
      </td>
    </tr>
  </table>
</div>

<div style='clear:both'></div>

<div id="brochure">
  <div class="row responsive-sm responsive-md">
    <div class="col">
      <h4>Рекламные брошюры</h4>
    </div>
  </div>

  <div class="row responsive-sm responsive-md">
    <div class="col">
      <div style="text-align: center;">
        <a onclick="window.open('http://fortekst.ru/rest/img/brochure/quick_klear.pdf', '_system')" target="_system">
          <img src='img/brochure/quick_klear.jpg' />
        </a>
        <br />
        <h4>Керамика. Новое видение эстетики</h4>
      </div>
    </div>
    <div class="col">
      <div style="text-align: center;">
        <a onclick="window.open('http://fortekst.ru/rest/img/brochure/quick_family.pdf', '_system')" target="_system">
          <img src='img/brochure/quick_family.jpg' />
        </a>
        <br />
        <h4>Улыбка может покорить мир</h4>
      </div>
    </div>
  </div>

  <div class="row responsive-sm responsive-md">
    <div class="col">
      <div style="text-align: center;">
        <a onclick="window.open('http://fortekst.ru/rest/img/brochure/quick_smile_www.pdf', '_system')" target="_system">
          <img src='img/brochure/quick_smile_www.jpg' />
        </a>
        <br />
        <h4>Система QUICK-SMILE Rx</h4>
      </div>
    </div>
    <div class="col">
      <div style="text-align: center;">
        <a onclick="window.open('http://fortekst.ru/rest/img/brochure/quick_swing_2014_www.pdf', '_system')" target="_system">
          <img src='img/brochure/quick_swing_2014_www.jpg' />
        </a>
        <br />
        <h4>Система QUICK-Swing</h4>
      </div>
    </div>
  </div>

  <div class="row responsive-sm responsive-md">
    <div class="col">
      <div style="text-align: center;">
        <a target="_system" onclick="window.open('http://fortekst.ru/rest/img/brochure/micro-sprint_www.pdf', '_system')">
          <img src='img/brochure/micro-sprint_www.jpg' />
        </a>
        <br />
        <h4>Микро-Спринт</h4>
      </div>
    </div>
    <div class="col">
      <div style="text-align: center;">
        <a onclick="window.open('http://fortekst.ru/rest/img/brochure/aesthetic_www.pdf', '_system')">
          <img src='img/brochure/aesthetic_www.jpg' />
        </a>
        <br />
        <h4>Aesthetic SAPPHIRE Сапфировые брекеты</h4>
      </div>
    </div>
  </div>

  <div class="row responsive-sm responsive-md">
    <div class="col">
      <div style="text-align: center;">
        <a target="_system" onclick="window.open('http://fortekst.ru/rest/img/brochure/lotus_2014_www.pdf', '_system')">
          <img src='img/brochure/lotus_2014_www.jpg' />
        </a>
        <br />
        <h4>Lotus</h4>
      </div>
    </div>
    <div class="col">
      <div style="text-align: center;">
        <a onclick="window.open('http://fortekst.ru/rest/img/brochure/2D_2014_www.pdf', '_system', 'location=yes')" target="_system">
          <img src='img/brochure/2D_2014_www.jpg' />
        </a>
        <br />
        <h4>2D Лингвальные брекеты прямого наклеивания</h4>
      </div>
    </div>
  </div>

  <div class="row responsive-sm responsive-md">
    <div class="col">
      <div style="text-align: center;">
        <a target="_system" onclick="window.open('http://fortekst.ru/rest/img/brochure/ebrace_doctor.pdf', '_system')">
          <img src='img/brochure/ebrace_doctor.jpg' />
        </a>
        <br />
        <h4>Лингвальная система eBrace</h4>
      </div>
    </div>
    <div class="col">
      <div style="text-align: center;">
        <a onclick="window.open('http://fortekst.ru/rest/img/brochure/e_brace_patient.pdf', '_system')" target="_system">
          <img src='img/brochure/e_brace_patient.jpg' />
        </a>
        <br />
        <h4>Брекеты eBrace</h4>
      </div>
    </div>
  </div>

  <div class="row responsive-sm responsive-md">
    <div class="col">
      <div style="text-align: center;">
        <a onclick="window.open('http://fortekst.ru/rest/img/brochure/apnoe_doctor.pdf', '_system')" target="_system">
          <img src='img/brochure/apnoe_doctor.jpg' />
        </a>
        <br />
        <h4>Ortho Apnoe. Брошюра доктору</h4>
      </div>
    </div>
    <div class="col">
      <div style="text-align: center;">
        <a onclick="window.open('http://fortekst.ru/rest/img/brochure/apnoe_patient.pdf', '_system')" target="_system">
          <img src='img/brochure/apnoe_patient.jpg' />
        </a>
        <br />
        <h4>Ortho Apnoe. Брошюра пациенту</h4>
      </div>
    </div>
  </div>

  <div class="row responsive-sm responsive-md">
    <div class="col">
      <div style="text-align: center;">
        <a onclick="window.open('http://fortekst.ru/rest/img/brochure/ortho_easy_www.pdf', '_system')" target="_system">
          <img src='img/brochure/ortho_easy_www.jpg' />
        </a>
        <br />
        <h4>Комплексное решение проблемы кортикальной опоры</h4>
      </div>
    </div>
    <div class="col">
      <div style="text-align: center;">
        <a onclick="window.open('http://fortekst.ru/rest/img/brochure/easy_fit_jumper_2014_e_mail.pdf', '_system')" target="_system" href="http://fortekst.ru/rest/img/brochure/easy_fit_jumper_2014_e_mail.pdf">
          <img src='img/brochure/easy_fit_jumper_2014_e_mail.jpg' />
        </a>
        <br />
        <h4>Корректор Класса II (исполнение 1) Easy-Fit ®Jumpe</h4>
      </div>
    </div>
  </div>

  <div class="row responsive-sm responsive-md">
    <div class="col">
      <div style="text-align: center;">
        <a onclick="window.open('http://fortekst.ru/rest/img/brochure/track_2014_www.pdf', '_system')" target="_system">
          <img src='img/brochure/track_2014_www.jpg' />
        </a>
        <br />
        <h4>ТРЭК– термоформовочные заготовки</h4>
      </div>
    </div>
    <div class="col">
      <div style="text-align: center;">
        <a onclick="window.open('http://fortekst.ru/rest/img/brochure/vsd.pdf', '_system')" target="_system">
          <img src='img/brochure/vsd.jpg' />
        </a>
        <br />
        <h4>VSD System</h4>
      </div>
    </div>    
  </div>

</div>

<div id="catalog" style="display:none">
  <h4>Каталоги нашей компании!</h4>
  <div class='row'>
    <div class='col col-50'>
      <a onclick="window.open('http://fortekst.ru/files/pdf/catalogue_forestadent_3.pdf', '_system');" target='_system'>
        <img width='100%' src="img/forestadent_catalog_icon.png">
      </a>
    </div>
    <div class='col col-50'>
      <a onclick="window.open('http://fortekst.ru/files/pdf/kat_OT_2012_1.pdf', '_system');" target="_blank">
        <img width='100%' src="img/ot_catalog_icon.png">
      </a>
    </div>
  </div>
</div>

<div id="operator" style="display: none">
  <h4>Operator's Dictionary</h4>
  <div style="padding: 0px 10px">
    Operator’s Dictionary предназначен для тех специалистов в области стоматологии и челюстно-лицевой хирургии, кто хочет понимать и быть понятым в международной профессиональной среде, основным языком которой является английский. Статьи, лекции, обмен мнениями, семинары, симпозиумы, конгрессы – все это должно стать легче и приятнее. Присоединяйтесь!
  </div>
  <br />
  <p style="padding: 0px 10px">
    В магазинах всех нижеперечисленных операционных систем Вы можете бесплатно скачать приложение, которое позволит Вам ознакомиться со всеми имеющимися на сегодняшний день словарями, оценить их содержание и полезность и, если Вам понравится, совершить покупку.
  </p>
  <div style="background-color: grey; text-align: center">
    <ul>
      <li>
        <a onclick="window.open('https://itunes.apple.com/ru/app/operators-anglo-russkij-slovar/id852243830?mt=8', '_system');" target='_system'>
          <img src='img/btn-app-store.png' />
        </a>
      </li>
      <li>
        <a onclick="window.open('https://play.google.com/store/apps/details?id=com.operators.dictionaries&hl=ru', '_system');" target='_system'>
          <img src='img/btn-google-play.png' />
        </a>
      </li>
      <li>
        <a onclick="window.open('http://www.windowsphone.com/ru-ru/store/app/operator-dictionary/a765173b-ea08-4057-b42d-239f0b5c2564', '_system');" target='_system'>
          <img src='img/windows_store.png' />
        </a>
      </li>
    </ul>
  </div>
</div>


</ion-content>
</ion-view>