<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top">

  <ion-tab title="Мероприятия" icon="icon ion-calendar" href="#/tab/events">
    <ion-nav-view name="tab-events"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Акции" icon="icon ion-bag" href="#/tab/sales">
    <ion-nav-view name="tab-sales"></ion-nav-view>
  </ion-tab>

<ion-tab title="Каталог" icon="icon ion-ios7-copy-outline" href="#/tab/about">
    <ion-nav-view name="tab-about"></ion-nav-view>
</ion-tab>

  <ion-tab title="Словарь" icon="icon ion-ios7-bookmarks-outline" href="#/tab/operator">
    <ion-nav-view name="tab-operator"></ion-nav-view>
  </ion-tab>

  <ion-tab title="О компании" icon="icon ion-ios7-information-outline" href="#/tab/about">
    <ion-nav-view name="tab-about"></ion-nav-view>
  </ion-tab>


</ion-tabs>
