<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.tabsapp2979595" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Pumpa</name>
  <description>
        Мобильное приложение группы компаний Пумпа, позволит вам всегда быть в курсе наших мероприятий и проводимых акций. Так же вы можете скачать и использовать все наши рекламные материалы.
    </description>
  <author email="hi@ionicframework" href="http://ionicframework.com/">
      PumpaGroup
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="SplashScreen" value="splash" />
  <preference name="SplashScreenDelay" value="400000" />
  <preference name="AutoHideSplashScreen" value="false" />
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>